<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refugio Libre</title>
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel="icon" type="image/png" href="../img/iconPage.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- HEADER -->
    <header>
        <div>
            <h1>Refugio Libre</h1>
            <p>Pagina referida al sofware libre</p>
        </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="descargas.html">Descargas</a>
      <!--  <a href="#">Foro</a>
        <a href="#">Nosotros</a> -->
        <a href="formulario.html">Contactanos</a>
    </nav>

    <div class="container">
            <div class="box"><h2>Mi Top Tres de Juegos Nativos: 0 A.D., SuperTuxKart, Xonotic</h2>

<p>El mundo del software libre no solo se trata de herramientas de productividad y sistemas operativos robustos, también hay una impresionante colección de juegos que demuestran que la diversión y el código abierto van de la mano. Hoy quiero compartir mi top three de juegos nativos que he disfrutado al máximo: 0 A.D., SuperTuxKart y Xonotic. Cada uno de estos juegos no solo es entretenido, sino que también representa el espíritu de la comunidad de software libre.</p>
<img src="../img/oad1.jpg" alt="">
</div>
<div class="box">

 <h3>0 A.D.</h3><h4> Estrategia en Tiempo Real con un Toque Histórico</h4>
<p>Descripción

<p>0 A.D. es un juego de estrategia en tiempo real (RTS) que te transporta a la antigüedad, permitiéndote comandar civilizaciones históricas en épicas batallas. Inspirado en clásicos del género como Age of Empires, 0 A.D. destaca por su atención al detalle y su compromiso con la precisión histórica.</p>
<p>Características Principales</p>
<ul>
    <li>Civilizaciones Históricas: Juega con diversas civilizaciones, cada una con sus propias unidades, edificios y tecnologías.</li>
    <li>Gráficos Impresionantes: A pesar de ser un proyecto de código abierto, 0 A.D. cuenta con gráficos detallados y hermosos.</li>
    <li>Multijugador: Desafía a tus amigos o a jugadores de todo el mundo en partidas multijugador.</li>
    <li>Modabilidad: La comunidad de 0 A.D. es activa y crea numerosos mods y escenarios personalizados.</li>
</ul>
Experiencia Personal

0 A.D. me ha impresionado por su profundidad y jugabilidad. Cada partida es un desafío estratégico, y la variedad de civilizaciones ofrece una experiencia de juego renovada cada vez. Además, el hecho de que sea un proyecto en constante desarrollo significa que siempre hay algo nuevo por descubrir.
</div>

<div class="box"><h3>SuperTuxKart</h3><h4> Carreras Divertidas con un Pingüino Carismático</h4>
<p>Descripción</p>

<p>SuperTuxKart es un juego de carreras arcade que presenta a Tux, el icónico pingüino de Linux, y a otros personajes de la comunidad de software libre. Con pistas coloridas y power-ups divertidos, SuperTuxKart es un juego que garantiza horas de diversión.</p>
<p>Características Principales</p>
<ul>
    <li>Variedad de Pistas: Corre en una amplia gama de pistas, desde volcanes ardientes hasta escenarios en el espacio.</li>
    <li>Personajes Únicos: Juega como Tux y otros personajes del mundo del software libre, cada uno con su propio kart.</li>
    <li>Modos de Juego: Disfruta de modos de juego variados, incluyendo carreras estándar, batalla y contrarreloj.</li>
    <li>Multijugador Local y en Línea: Juega con amigos en el mismo dispositivo o compite contra jugadores de todo el mundo.</li>

<p>Experiencia Personal</p>


<p>SuperTuxKart es un soplo de aire fresco en el género de carreras arcade. Sus controles intuitivos y su estilo de juego rápido lo hacen perfecto para partidas rápidas. Además, la estética y los personajes encantadores lo convierten en un juego accesible y divertido para todas las edades.</p>
</div>
<div class="box">
<img src="../img/OfficialPoster_093.jpg" alt="">
</div>
<div class="box"><h3>Xonotic</h3><h4>Acción en Primera Persona con Intensa Competencia</h4>
  <img src="../img/xonotic1.jpeg" alt="">
  </div>


<div class="box">
<p>Descripción</p>
 <p>Xonotic es un shooter en primera persona (FPS) rápido y frenético que combina elementos de juegos clásicos como Quake y Unreal Tournament. Con una jugabilidad basada en habilidades y reflejos rápidos, Xonotic ofrece una experiencia competitiva intensa.</p>
<p>Características Principales</p>
<ol>
    <li>Ritmo Rápido: Movimientos rápidos y saltos acrobáticos hacen que cada partida sea emocionante.</li>
    <li>Variedad de Armas: Amplio arsenal de armas futuristas, cada una con modos de disparo secundarios.</li>
    <li>Mapas Diversos: Juega en una amplia variedad de mapas diseñados por la comunidad.</li>
    <li>Multijugador: Compite contra otros jugadores en línea en modos como Deathmatch, Capture the Flag y más.</li>
</ol>

<p>Experiencia Personal<p>

<p>Xonotic me ha enganchado con su acción rápida y su énfasis en la habilidad del jugador. Cada partida es una prueba de reflejos y estrategia, y la comunidad en línea es competitiva y acogedora. Los gráficos y efectos son impresionantes, considerando que se trata de un proyecto de código abierto.<p>
</div>

<div class="box">
<p>Conclusión</p>
<p>Estos tres juegos, 0 A.D., SuperTuxKart y Xonotic, representan lo mejor de los juegos nativos de software libre. No solo son divertidos y adictivos, sino que también destacan por su calidad y el compromiso de sus respectivas comunidades de desarrollo. Si aún no los has probado, te animo a que les des una oportunidad. Seguro que encontrarás en ellos horas de entretenimiento y una nueva apreciación por el mundo del software libre.</p>
<br>
<p>¿Tienes algún juego de código abierto favorito que no mencioné?</p> <p>¡Déjame saber en los comentarios y comparte tus recomendaciones!</p>
</div>

<div class="box image">
<img src="../img/GNU-Linux-Logo-Penguin-SVG-2134560808.png"  alt="">
</div>

</div>
   <footer>
        <p>&copy; Nino Magni, Potrero Digital 2024</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
