<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refugio Libre</title>
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel="icon" type="image/png" href="../img/iconPage.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- HEADER -->
    <header>
        <div>
            <h1>Refugio Libre</h1>
            <p>Pagina referida al sofware libre</p>
        </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="descargas.html">Descargas</a>
        <a href="#">Foro</a>
        <a href="#">Nosotros</a>
        <a href="formulario.html">Contactanos</a>
    </nav>

    <h3>1. 0 A.D.: Estrategia en Tiempo Real con un Toque Histórico</h3>
<p>Descripción

<p>0 A.D. es un juego de estrategia en tiempo real (RTS) que te transporta a la antigüedad, permitiéndote comandar civilizaciones históricas en épicas batallas. Inspirado en clásicos del género como Age of Empires, 0 A.D. destaca por su atención al detalle y su compromiso con la precisión histórica.</p>
<p>Características Principales</p>
<ul>
    <li>Civilizaciones Históricas: Juega con diversas civilizaciones, cada una con sus propias unidades, edificios y tecnologías.</li>
    <li>Gráficos Impresionantes: A pesar de ser un proyecto de código abierto, 0 A.D. cuenta con gráficos detallados y hermosos.</li>
    <li>Multijugador: Desafía a tus amigos o a jugadores de todo el mundo en partidas multijugador.</li>
    <li>Modabilidad: La comunidad de 0 A.D. es activa y crea numerosos mods y escenarios personalizados.</li>
</ul>
Experiencia Personal

0 A.D. me ha impresionado por su profundidad y jugabilidad. Cada partida es un desafío estratégico, y la variedad de civilizaciones ofrece una experiencia de juego renovada cada vez. Además, el hecho de que sea un proyecto en constante desarrollo significa que siempre hay algo nuevo por descubrir.
       <footer>
        <p>&copy; Nino Magni, Potrero Digital 2024</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>