<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refugio Libre</title>
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel="icon" type="image/png" href="../img/iconPage.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- HEADER -->
    <header>
        <div>
            <h1>Refugio Libre</h1>
            <p>Pagina referida al sofware libre</p>
        </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="descargas.html">Descargas</a>
        <a href="#">Foro</a>
        <a href="#">Nosotros</a>
        <a href="formulario.html">Contactanos</a>
    </nav>

    <h3>2. SuperTuxKart: Carreras Divertidas con un Pingüino Carismático</h3>
<p>Descripción</p>

<p>SuperTuxKart es un juego de carreras arcade que presenta a Tux, el icónico pingüino de Linux, y a otros personajes de la comunidad de software libre. Con pistas coloridas y power-ups divertidos, SuperTuxKart es un juego que garantiza horas de diversión.</p>
<p>Características Principales</p>
<ul>
    <li>Variedad de Pistas: Corre en una amplia gama de pistas, desde volcanes ardientes hasta escenarios en el espacio.</li>
    <li>Personajes Únicos: Juega como Tux y otros personajes del mundo del software libre, cada uno con su propio kart.</li>
    <li>Modos de Juego: Disfruta de modos de juego variados, incluyendo carreras estándar, batalla y contrarreloj.</li>
    <li>Multijugador Local y en Línea: Juega con amigos en el mismo dispositivo o compite contra jugadores de todo el mundo.</li>

Experiencia Personal

SuperTuxKart es un soplo de aire fresco en el género de carreras arcade. Sus controles intuitivos y su estilo de juego rápido lo hacen perfecto para partidas rápidas. Además, la estética y los personajes encantadores lo convierten en un juego accesible y divertido para todas las edades.
<h3>3. Xonotic: Acción en Primera Persona con Intensa Competencia</h3>
<p>Descripción</p>

       <footer>
        <p>&copy; Nino Magni, Potrero Digital 2024</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>