<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Refugio Libre</title>
    <link rel = "stylesheet" href = "../css/style.css">
    <link rel="icon" type="image/png" href="../img/iconPage.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<!-- HEADER -->
    <header>
        <div>
            <h1>Refugio Libre</h1>
            <p>Pagina referida al sofware libre</p>
        </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
        <a href="../../index.html">Inicio</a>
        <a href="descargas.html">Descargas</a>
        <a href="#">Foro</a>
        <a href="#">Nosotros</a>
        <a href="formulario.html">Contactanos</a>
    </nav>

    <p>Xonotic es un shooter en primera persona (FPS) rápido y frenético que combina elementos de juegos clásicos como Quake y Unreal Tournament. Con una jugabilidad basada en habilidades y reflejos rápidos, Xonotic ofrece una experiencia competitiva intensa.</p>
<p>Características Principales</p>
<ol>
    <li>Ritmo Rápido: Movimientos rápidos y saltos acrobáticos hacen que cada partida sea emocionante.</li>
    <li>Variedad de Armas: Amplio arsenal de armas futuristas, cada una con modos de disparo secundarios.</li>
    <li>Mapas Diversos: Juega en una amplia variedad de mapas diseñados por la comunidad.</li>
    <li>Multijugador: Compite contra otros jugadores en línea en modos como Deathmatch, Capture the Flag y más.</li>

<p>Experiencia Personal<p>

<p>Xonotic me ha enganchado con su acción rápida y su énfasis en la habilidad del jugador. Cada partida es una prueba de reflejos y estrategia, y la comunidad en línea es competitiva y acogedora. Los gráficos y efectos son impresionantes, considerando que se trata de un proyecto de código abierto.<p>

       <footer>
        <p>&copy; Nino Magni, Potrero Digital 2024</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>